#topdf {
    margin: 0;
    aspect-ratio: 210/297;
    background-color: white !important;
    padding: 1cm;
}

#topdf>section {
    color: inherit;
    display: flex;
}

#topdf>* {
    color: black;
}

ul>li {
    list-style: none !important;
    color: black;
}

.passport {
    object-fit: cover;
    width: 35mm;
}

th,
td {
    color: black;
}
figure{
    text-align: center;
}
figure > img{
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-color: var(--form-element-border-color);
    object-fit: cover;
    max-height: 600px;
}